{% extends "base.html" %}
{% block content %}


<h3 class="purple-text text-darken-4 center-align">Add book</h3>

<div class="row card-panel grey lighten-5 ">
  <form class="col s12" method="POST" action="{{ url_for('add_book')}}">
    <!-- Genre selection -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix purple-text text-darken-4"></i>
        <select id="book_genre" name="book_genre" class="validate" required>
          <option value="" disabled selected>Choose Genre</option>
          {% for genre in genres %}
          <option value="{{ genre.book_genre }}">{{ genre.book_genre }}</option>
          {% endfor %}
        </select>
        <label for="book_genre">Genre</label>
      </div>
    </div>
    <!-- Book name -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-book prefix purple-text text-darken-4"></i>
        <input id="book_name" name="book_name" minlength="3" maxlength="50" type="text" class="validate" required>
        <label for="book_name">Book Name</label>
      </div>
    </div>
    <!-- Book author -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-user prefix purple-text text-darken-4"></i>
        <textarea id="book_author" name="book_author" minlength="3" maxlength="150"
          class="materialize-textarea validate" required></textarea>
        <label for="book_author">Book Author</label>
      </div>
    </div>
    <!-- Book description -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fa-solid fa-book-open prefix purple-text text-darken-4"></i>
        <textarea id="book_description" name="book_description" minlength="3" maxlength="150"
          class="materialize-textarea validate" required></textarea>
        <label for="book_description">Book Description</label>
      </div>
    </div>
    <!-- Date picker -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-calendar-alt prefix purple-text text-darken-4"></i>
        <input id="publish_date" name="publish_date" type="text" class="datepicker validate" required>
        <label for="publish_date">Publish date</label>
      </div>
    </div>
    <!-- Is trending -->
    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <i class="fa-solid fa-exclamation-circle prefix purple-text text-darken-4"></i>
          <label for="is_trending">
            <input type="checkbox" id="is_trending" name="is_trending">
            <span class="lever"></span>
            Is Trending
          </label>
        </div>
      </div>
    </div>
    <!-- Submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large" purple darken-1 text-shadow>
          Add Book <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>


{% endblock%}