{% extends "base.html" %}
{% block content %}

<h3 class="purple-text text-darken-4 center-align">Manage Genres</h3>

<div class="row">
    {% for genre in genres %}
        <div class="col s12 m3">
            <div class="card purple darken-4 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{genre.book_genre}}</span>
                </div>
                <div class="card-action">
                    <a href="#" class="btn green accent-4">Edit</a>
                    <a href="#" class="btn purple lighten-1">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}